#version=0.5

# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64"
# Use install type (graphical/text)
text
# Accept the EULA
eula --agreed
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Reboot after installation
reboot
# Keyboard layouts
keyboard --vckeymap=se --xlayouts='se','us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate

# Other repositories
repo --name=docker-ce-stable --baseurl=https://download.docker.com/linux/centos/7/x86_64/stable/
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/
repo --name=centos-extras --mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=extras

# Firewall setup
firewall --enabled --ssh

# Root password and user/group creation
rootpw --iscrypted $6$LEa4v1p3FBzCk/ms$vrgtUk/lIrvwMVF6megHW/.w5FXUTiDPfwLdDZXJo5BzJqTxIw5DEwbuwy3Er2SXyKkng38oos0vcY.23Fruw/
#user --name=username --groups=groups --homedir=/home/username --iscrypted --password=$6$dwMGcAQtvqzmPO5W$xFZqLvZSfMrS89Pa.XbRbsVCCTfUQZwdsX/mPqOUfHziLg2tfJKknO61CN8lxx79ESC9pDLB55ZtT67q96Blk0
#group --name=name [--gid=gid]

# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Stockholm --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.316 --fstype="lvmpv" --ondisk=sda --size=12288 --grow
volgroup centos --pesize=4096 pv.316
logvol /usr/share  --fstype="xfs" --size=1536 --name=usr_share --vgname=centos
logvol /var/log  --fstype="xfs" --size=512 --name=var_log --vgname=centos
logvol swap  --fstype="swap" --size=3072 --name=swap --vgname=centos
logvol /var  --fstype="xfs" --size=1536 --name=var --vgname=centos
logvol /  --fstype="xfs" --size=256 --name=root --vgname=centos
logvol /home  --fstype="xfs" --size=512 --name=home --vgname=centos
logvol /usr  --fstype="xfs" --size=2048 --name=usr --vgname=centos
logvol /var/lib/docker --fstype="xfs" --size=2048 --name=var_lib_docker --vgname=centos

%packages --ignoremissing
@^minimal
@core
-iptables
-abrt-libs
-abrt-tui
-abrt-cli
-abrt
-abrt-addon-python
-abrt-addon-ccpp
-abrt-addon-kerneloops
-iprutils
-fprintd-pam
-intltool
-aic94xx-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-usb8388-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
crypto-utils
dump
hardlink
mc
mgetty
screen
symlinks
tree
cmake
cmucl
compat-gcc-44
compat-gcc-44-c++
cvs
cvsps
gcc-gnat
gcc-objc
gcc-objc++
git
imake
libstdc++-docs
qgit
chrony
kexec-tools
initial-setup
net-tools
net-snmp-utils
telnet
traceroute
vim
sysstat
usbutils
unzip
ntp
container-selinux
docker-ce
docker-ce-cli
containerd.io

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=14 --minquality=1 --strict --changesok --notempty
pwpolicy user --minlen=10 --minquality=1 --strict --changesok --emptyok
pwpolicy luks --minlen=10 --minquality=1 --strict --nochanges --notempty
%end

%include /tmp/network.txt

%pre
#!/bin/sh
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3
hn=""

while [ "$hn" == "" ]; do
 clear
 echo " *** Please enter the following details: *** "
 echo
 read -p "Hostname (fqdn): " hn
done
clear
chvt 1
echo "network --hostname ${hn}" > /tmp/network.txt
%end

%post --log=/root/ks-post.log

mv /etc/ntp.conf /etc/ntp.conf.dist

cat >> /etc/ntp.conf <<EOF
driftfile /var/lib/ntp/ntp.drift
server 0.pool.ntp.org
server 1.pool.ntp.org
server 2.pool.ntp.org
server pool.ntp.org
EOF

cat >> /etc/yum.repos.d/docker-ce-stable.repo <<EOF
[docker-ce-stable]
name=Docker CE Stable - \$basearch
baseurl=https://download.docker.com/linux/centos/7/\$basearch/stable
enabled=1
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-stable-debuginfo]
name=Docker CE Stable - Debuginfo \$basearch
baseurl=https://download.docker.com/linux/centos/7/debug-\$basearch/stable
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-stable-source]
name=Docker CE Stable - Sources
baseurl=https://download.docker.com/linux/centos/7/source/stable
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-edge]
name=Docker CE Edge - \$basearch
baseurl=https://download.docker.com/linux/centos/7/\$basearch/edge
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-edge-debuginfo]
name=Docker CE Edge - Debuginfo \$basearch
baseurl=https://download.docker.com/linux/centos/7/debug-\$basearch/edge
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-edge-source]
name=Docker CE Edge - Sources
baseurl=https://download.docker.com/linux/centos/7/source/edge
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-test]
name=Docker CE Test - \$basearch
baseurl=https://download.docker.com/linux/centos/7/\$basearch/test
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-test-debuginfo]
name=Docker CE Test - Debuginfo \$basearch
baseurl=https://download.docker.com/linux/centos/7/debug-\$basearch/test
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-test-source]
name=Docker CE Test - Sources
baseurl=https://download.docker.com/linux/centos/7/source/test
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-nightly]
name=Docker CE Nightly - \$basearch
baseurl=https://download.docker.com/linux/centos/7/\$basearch/nightly
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-nightly-debuginfo]
name=Docker CE Nightly - Debuginfo \$basearch
baseurl=https://download.docker.com/linux/centos/7/debug-\$basearch/nightly
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg

[docker-ce-nightly-source]
name=Docker CE Nightly - Sources
baseurl=https://download.docker.com/linux/centos/7/source/nightly
enabled=0
gpgcheck=1
gpgkey=https://download.docker.com/linux/centos/gpg
EOF

cat >> /usr/local/sbin/systemupdate.sh <<EOF
#!/bin/sh
#
# System Update Script
#
# Log to:
logfile=/var/log/systemupdate.log
#
#####################################################################
/bin/echo \$(date) >> \$logfile
/usr/bin/yum update -y >> \$logfile
/usr/bin/yum clean all -y >> \$logfile
/bin/echo "Rebooting after 2 minutes wait..." >> \$logfile
/usr/sbin/shutdown --reboot +2 "Rebooting after system update in 2 minutes... Use shutdown -c to cancel..." >> \$logfile
/bin/echo "------------------------------------------------------------------------------" >> \$logfile
EOF

chmod 0755 /usr/local/sbin/systemupdate.sh

cat >> /etc/crontab <<EOF
0 3 * * 0	root	/usr/local/sbin/systemupdate.sh
EOF

systemctl enable docker
systemctl enable ntpd
systemctl disable postfix

%end
